<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lebo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href = "@{/css/main.css}" rel="stylesheet">
</head>
<body>
  <div class="bigcont">
    <div class="smallcont2">
      <div class=" text-center fs-3 font-monospace leftText">
      <p>Išnuomok nenaudojamus daiktus ir gauk papildomų pajamų ! Išsinuomok reikalingą daiktą reikalingam laiko tarpui, be permokos !</p>
    </div>
    </div>
  <div class="text-center smallcont1">
    <img th:src="@{/images/Lebo.gif}" class="rounded" style="width:400px; height:400px;">
    <div>
    <a href="/signup" type="button" class="btn btn-success">Sign Up</a>
    <a href="/login" type="button" class="btn btn-secondary">Log In</a>
  </div>
  </div>
</div>
</body>
</html>